*{
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF9CA;
  height: 100vh;
}

.container{
  width: 500px;
  height: 490px;
  background: #FFDEB4;
  padding-left: 15px;
  box-shadow: 0px 0px 8px 2px rgba(250,250,250,0.8);
}
h1{
  font-size: 30px;
  background: #FFB4B4;
  color: white;
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;
  display: grid;
  place-items: center;
  margin-left: -15px;
  margin-bottom: 15px;
}

label, input,button {
  display: block;
}
label{
  font-size: 20px;
}
button{
  margin: 20px auto 10px auto;
  width: 300px;
  height: 50px;
  font-size: 26px;
  font-weight: bold;
  background: #FFB4B4;
  border: 2px solid white;
  color: white;
  transition: 0.2s;
}

button:hover{
  background: white;
  border-color: #FFB4B4;
  color: #FFB4B4;
}

.final{
  text-align: center;
}
#tip{
  background-color: white;
  width: 100px;
  height: 80px;
  margin: 0px auto;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
option, input, select{
  font-size: 20px;
  width: 50%;
  padding-left: 5px;
  border: 2px solid transparent;
}
input:focus{
  outline: none;
  border: 2px solid #FFB4B4;
}
select:focus{
  outline: none;
  border: 2px solid #FFB4B4;
  border-bottom: 2px solid transparent;
}
option{
  color: rgba(0,0,0,0.8);
}
select{
  box-sizing: content-box;
}
